{{ define "main" }}
  <section class="section">
    <div class="container">
      <h1>
        {{ if eq .Site.Language.Lang "it" }}Le nostre Camere{{ end }}
        {{ if eq .Site.Language.Lang "en" }}Our Rooms{{ end }}
        {{ if eq .Site.Language.Lang "fr" }}Nos Chambres{{ end }}
      </h1>
      <p>
        {{ if eq .Site.Language.Lang "it" }}Scegli la tua sistemazione ideale tra le nostre camere.{{ end }}
        {{ if eq .Site.Language.Lang "en" }}Choose your perfect stay from our rooms.{{ end }}
        {{ if eq .Site.Language.Lang "fr" }}Choisissez votre séjour idéal parmi nos chambres.{{ end }}
      </p>
    </div>
  </section>
{{ end }}