<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <!-- Tutto il contenuto boxato -->
  <div class="boxed-layout">

    {{ if eq .Kind "home" }}
      {{ partial "header.html" . }}
    {{ else }}
      {{ partial "header-interno.html" . }}
    {{ end }}

    <main>
      {{ block "main" . }}{{ end }}
    </main>

    <!-- FOOTER -->
    {{ partial "footer.html" . }}

  </div>
<script src="/js/slider.js"></script>
</body>
</html>