<nav class="nav-verticale">
  <ul>
    {{ if eq .Site.Language.Lang "it" }}
      <li><a href="/it/ristorante">Ristorante</a></li>
      <li><a href="/it/camere">Camere</a></li>
      <li><a href="/it/bottega">Prodotti</a></li>
      <li><a href="/it/contatti">Contatti</a></li>
    {{ else if eq .Site.Language.Lang "en" }}
      <li><a href="/en/restaurant">Restaurant</a></li>
      <li><a href="/en/rooms">Rooms</a></li>
      <li><a href="/en/shop">Shop</a></li>
      <li><a href="/en/contact">Contact</a></li>
    {{ else if eq .Site.Language.Lang "fr" }}
      <li><a href="/fr/restaurant">Restaurant</a></li>
      <li><a href="/fr/chambres">Chambres</a></li>
      <li><a href="/fr/boutique">Boutique</a></li>
      <li><a href="/fr/contactez">Contact</a></li>
    {{ end }}
  </ul>
</nav>