<div class="css-slider">
  <input type="radio" name="carousel" id="slide1" checked>
  <input type="radio" name="carousel" id="slide2">
  <input type="radio" name="carousel" id="slide3">

  <div class="carousel-images">
    <div class="slide">
      <img src="/img/risto/slide1.jpg" alt="Sala ristorante Spada Reale">
    </div>
    <div class="slide">
      <img src="/img/risto/slide2.jpg" alt="Bottiglie e quadri ristorante">
    </div>
    <div class="slide">
      <img src="/img/risto/slide3.jpg" alt="Insegna esterna Spada Reale">
    </div>
  </div>

  <div class="carousel-nav">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
  </div>
</div>