<section id="ristorante" class="ristorante-section boxed-layout">
  <div class="ristorante-testo">
    {{ if eq .Site.Language.Lang "it" }}
      <h2 class="section-title">Il Ristorante</h2>
      <p>Il ristorante <strong>Spada Reale</strong> accoglie i suoi ospiti con il calore della tradizione culinaria piemontese. Ogni <strong>Domenica</strong> proponiamo un ricco <em>menu fisso</em> con <strong>antipasti caldi e freddi, primi e secondi piatti</strong>, preparati con ingredienti freschi e di nostra produzione. Il tutto a un prezzo davvero <strong>speciale!</strong></p>
      <p>Durante la settimana offriamo un <em>menu del giorno</em>, pensato per chi cerca un pranzo veloce, genuino e in un’atmosfera familiare.</p>
      <p>👉 <strong><a href="/it/contatti/">Si consiglia di prenotare</a></strong> per assicurarsi un tavolo disponibile e ricevere il miglior servizio possibile.</p>
      
      <div class="prenota-bottone">
        <a href="/it/contatti/" class="btn-prenota">Prenota ora</a>
      </div>

    {{ else if eq .Site.Language.Lang "en" }}
      <h2 class="section-title">The Restaurant</h2>
      <p>The <strong>Spada Reale</strong> welcomes guests with the warmth of Piedmont’s culinary tradition. Every <strong>Sunday</strong>, we offer a rich <em>set menu</em> with <strong>hot and cold appetizers, first and second courses</strong>, all made with fresh ingredients from our own production. All at the <strong>special price!</strong></p>
      <p>During the week, we offer a <em>daily menu</em>, ideal for a quick, wholesome lunch in a relaxed and friendly atmosphere.</p>
      <p>👉 <strong><a href="/en/contact/">We strongly recommend booking</a></strong> to ensure a table and the best possible service.</p>
      
     <div class="prenota-bottone">
       <a href="/en/contact/" class="btn-prenota">Book now</a>
     </div>

    {{ else if eq .Site.Language.Lang "fr" }}
      <h2 class="section-title">Le Restaurant</h2>
      <p>Le <strong>Spada Reale</strong> accueille ses hôtes avec la chaleur de la tradition culinaire piémontaise. Chaque <strong>dimanche</strong>, nous proposons un <em>menu fixe</em> copieux comprenant <strong>entrées chaudes et froides, plats principaux</strong> et accompagnements, préparés avec des produits frais de notre propre production. Le tout pour un <strong>prix exceptionnel!</strong></p>
      <p>En semaine, nous proposons un <em>menu du jour</em>, parfait pour un déjeuner rapide, authentique et convivial.</p>
      <p>👉 <strong><a href="/fr/contactez/">Il est fortement conseillé de réserver</a></strong> afin de garantir une table et d’assurer le meilleur service possible.</p>
      
      <div class="prenota-bottone">
       <a href="/fr/contactez/" class="btn-prenota">Réserver</a>
      </div>
    {{ end }}
  </div>

  <div class="carousel">
    {{ partial "ristorante-slide.html" . }}
  </div>
</section>